.DS_Store
build/
DerivedData/
.derivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
.idea/
KeynoteGPT-0.1-macOS.zip
KeynoteGPT-0.2-macOS.zip
KeynoteGPT-*-macOS.zip
